body {
	font-family: Verdana, sans-serif;
	font-size: 12px;
}

#chat_container {
	margin: 10px auto;
	border-spacing: 5px
}

#chat_container td {
	vertical-align: top;
}

#chat_submit {
	width: 100%;
}

#chat_users, #chat_content, #game_screen, #countdown {
	border: 1px solid #aaaaa3;
	border-radius: 2px;
}

#chat_input {
	width: 600px;
}

 #game_screen {
	width: 602px;
}

#chat_content, #chat_users {
	overflow: auto;
}

#chat_content {
	height: 150px;
}

#chat_users {
	height: 360px;
	width:  200px;
}

#chat_content .username {
	font-weight: bold;
}

#chat_content >div > div  {
	margin: 2px;
}
.user {
	padding: 3px;
}

.user:hover {
	background-color: #DDD;
}

.user .points{
	font-style: italic;
}

.user .name {
	font-weight: bold;
}

.color_box {
	width: 200px;
}

.color_box .color {
	float: left;
	margin: 2px;
	height: 20px;
	width: 44px;

	border: 1px solid black;
	border-radius: 3px;
}

#game_screen {
	position: relative;
}

#countdown {
	line-height: 21px;
	height: 21px;
	margin: 5px 0px;
	text-align: center;
	color: #888;
}

.btn, #request_painting {
	margin: 5px 0px;
	text-align: center;
}

.btn {
	cursor: pointer;
}

.btn, button, input[type=button], input[type=submit], #request_painting {
	line-height: 21px;
	height: 21px;

	border: 1px solid #aaaaa3;
	border-radius: 2px;
	box-shadow: inset 1px 1px white, inset 0px -1px #d5d5d1;

	background: #fcfcfb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fcfcfb 0%, #ddddda 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfb), color-stop(100%,#ddddda)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fcfcfb 0%,#ddddda 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fcfcfb 0%,#ddddda 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fcfcfb 0%,#ddddda 100%); /* IE10+ */
	background: linear-gradient(top,  #fcfcfb 0%,#ddddda 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfb', endColorstr='#ddddda',GradientType=0 ); /* IE6-9 */
}

.btn:hover, button:hover, input[type=button]:hover, input[type=submit]:hover {
	border: 1px solid #5e98e3;
	border-radius: 2px;
	box-shadow: inset 1px 1px white, inset 0px -1px #afccf1;

	background: #f2f8ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f2f8ff 0%, #b0d0fb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f8ff), color-stop(100%,#b0d0fb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f2f8ff 0%,#b0d0fb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f2f8ff 0%,#b0d0fb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f2f8ff 0%,#b0d0fb 100%); /* IE10+ */
	background: linear-gradient(top,  #f2f8ff 0%,#b0d0fb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f8ff', endColorstr='#b0d0fb',GradientType=0 ); /* IE6-9 */
}